.aplayer.aplayer-withlrc .aplayer-pic {
  height: 120px !important;
  width: 120px !important;
}
.aplayer.aplayer-withlrc .aplayer-info{
  margin-left: 120px !important;
  height: 120px !important;
}

.aplayer .aplayer-lrc {
  height: 50px !important;
}

.aplayer .aplayer-lrc .aplayer-lrc-contents {
  padding-top: 20px;
}

.aplayer .aplayer-lrc p.aplayer-lrc-current {
  font-size: 14px;
  -webkit-background-clip:text;
  background-image: linear-gradient(135deg,red,rgb(5, 202, 5));
  color: transparent;
}